img {
    display: block;
    border: 5px solid #358d91;
}

body {
    background-color: #788a8e;
}

ul {
    display: block;
}

h1, h2, h3, h4, h5{
    text-align: center;
}

h1, h2, h3, h4, h5, p {
    color: azure;
}