<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<body>

<head th:fragment="head(pageTitle)">
    <meta charset="UTF-8">
    <title th:text="${pageTitle}"></title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<header th:fragment="header">
    <a th:href="@{/}"><img th:src="@{/img/logo.png}"/></a>
    <nav>
        <ul>
            <li><a th:href="@{/steps/step-1}">Step 1</a></li>
            <li><a th:href="@{/steps/step-2}">Step 2</a></li>
            <li><a th:href="@{/steps/step-3}">Step 3</a></li>
        </ul>
    </nav>
</header>

</body>
</html>